# Sorting 
Sorting a column ascending

In [1]:
import pandas as pd
import sys
%matplotlib inline

In [2]:
df=pd.DataFrame(data={'col1':[0,10,2,30,4]})
df

   col1
0     0
1    10
2     2
3    30
4     4

In [3]:
#Sort by col1 ascending
df.sort_values(by="col1")

   col1
0     0
2     2
4     4
1    10
3    30

### Sorting by index

In [8]:
d={'col2':[22,10,113]}
i=[pd.Timestamp('20130102'),
  pd.Timestamp('2013-01-01'),
  pd.Timestamp("1/3/2013")]

df=pd.DataFrame(data=d,index=i)
df

            col2
2013-01-02    22
2013-01-01    10
2013-01-03   113

In [9]:
df.sort_index()

            col2
2013-01-01    10
2013-01-02    22
2013-01-03   113