# Lesson 10
Goals:
1. From DataFrame to Excel
2. From Excel to DataFrame
3. From DataFrame to JSON
4. From JSON to DataFrame

In [1]:
import pandas as pd
import sys

In [2]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)

Python version 3.6.3 |Anaconda custom (64-bit)| (default, Nov  8 2017, 18:10:31)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
Pandas version 0.21.0

In [9]:
d=[1,2,3,4,5,6,7,8,9]
df=pd.DataFrame(d,columns=["Number"])
df

   Number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

In [10]:
#Exporting to Excel
df.to_excel("Lesson10.xlsx",sheet_name="testing",index=False)
print("Done")

Done

In [14]:
# From Excel to DataFrame

Location=r"/Users/shengyuchen/Dropbox/Engagement - Business/My Hub/AI:ML:DL Playground/Pandas Tutorial/Lesson10.xlsx"

df=pd.read_excel(Location,0)
df.head()

   Number
0       1
1       2
2       3
3       4
4       5

In [15]:
df.dtypes

Number    int64
dtype: object

In [16]:
df.tail()

   Number
4       5
5       6
6       7
7       8
8       9

# From Dataframe to Json

In [17]:
df.to_json("Lesson10.json")
print("Done")

Done

# From Json to DataFrame

In [18]:
jsonloc=r"/Users/shengyuchen/Dropbox/Engagement - Business/My Hub/AI:ML:DL Playground/Pandas Tutorial/Lesson10.json"

#read json
df2=pd.read_json(jsonloc)

In [19]:
df2.dtypes

Number    int64
dtype: object