# Lesson 5
Looking at Stack and unstack function

In [1]:
import pandas as pd
import sys

In [2]:
print("Pandas Version" + pd.__version__)
print("Python Version"+sys.version)

Pandas Version0.21.0
Python Version3.6.3 |Anaconda custom (64-bit)| (default, Nov  8 2017, 18:10:31)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

In [7]:
#The small data set
d={'one':[1,1],'two':[2,2]}
i={'a','b'}

#Create dataframe
df=pd.DataFrame(data=d , index=i)
df

   one  two
a    1    2
b    1    2

In [8]:
df.index

Index(['a', 'b'], dtype='object')

In [11]:
#Bring the columns and place them in the index
stack=df.stack()
stack
#Stack function is used for creating a long table

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

In [12]:
#The index now includes the column names
stack.index

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [14]:
#Transpose the data with the T 
transpose=df.T
transpose

     a  b
one  1  1
two  2  2

In [16]:
transpose1=stack.T
transpose1

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

In [17]:
transpose.index

Index(['one', 'two'], dtype='object')

In [18]:
transpose1.index

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])